In [3]:
import mysql.connector as mysql
from mysql.connector import Error
import pandas as pd

In [5]:
db = mysql.connect(
     host = "localhost",
     user = "root",
     passwd = "blackmoon9"
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x0000014F39C40850>

In [8]:
import mysql.connector as mysql
db = mysql.connect(
     host = "localhost",
     user = "root",
     passwd = "blackmoon9"
)
## creating an instance of 'cursor' class which is used to
cursor = db.cursor()
## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE GhanaTech")

In [10]:
import mysql.connector as mysql
db = mysql.connect(
     host = "localhost",
     user = "root",
     passwd = "blackmoon9"
)
cursor = db.cursor()
## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")
## 'fetchall()' method fetches all the rows from the last
databases = cursor.fetchall() ## it returns a list of all
## printing the list of databases
print(databases)
## showing one by one database
for database in databases:
    print(database)

[('information_schema',), ('ghanatech',), ('hotel',), ('mydb',), ('myflixdb',), ('mysql',), ('new_sql',), ('performance_schema',), ('python_db',), ('school',), ('sys',)]
('information_schema',)
('ghanatech',)
('hotel',)
('mydb',)
('myflixdb',)
('mysql',)
('new_sql',)
('performance_schema',)
('python_db',)
('school',)
('sys',)

In [12]:
import mysql.connector as mysql
db = mysql.connect(
     host = "localhost",
     user = "root",
     passwd = "blackmoon9",
     database = "GhanaTech"
)

In [16]:
cursor = db.cursor()
## creating a table called 'users' in the 'GhanaTech' database
cursor.execute("CREATE TABLE users (name VARCHAR(255), user_name VARCHAR(255))")

In [18]:
cursor = db.cursor()
## getting all the tables which are present in 'GhanaTech' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('users',)

## Primary Key

In [20]:
cursor = db.cursor()
## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE users")
## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("CREATE TABLE users (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), user_name VARCHAR(255))")

In [21]:
cursor = db.cursor()
## 'DESC table_name' is used to get all columns information
cursor.execute("DESC users")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

##Droping Primary Key

In [25]:
cursor = db.cursor()
## dropping the 'id' column
cursor.execute("ALTER TABLE users DROP id")
cursor.execute("DESC users")
print(cursor.fetchall())

[('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

##Adding Promary Key

In [27]:
cursor = db.cursor()
## adding 'id' column to the 'users' table
## 'FIRST' keyword in the statement will add a column in the starting of the table
cursor.execute("ALTER TABLE users ADD COLUMN id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST")
cursor.execute("DESC users")
print(cursor.fetchall())

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

#Inserting Data

In [29]:
cursor = db.cursor()
## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = ("Hafeez", "hafeez")
## executing the query with values
cursor.execute(query, values)
## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "record inserted")

1 record inserted

# Inserting Multiple Rows

In [31]:
cursor = db.cursor()
## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]
## executing the query with values
cursor.executemany(query, values)
## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "records inserted")

4 records inserted

#Select Data

In [32]:
cursor = db.cursor()

## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(records)

[(1, 'Hafeez', 'hafeez'), (2, 'Peter', 'peter'), (3, 'Amy', 'amy'), (4, 'Michael', 'michael'), (5, 'Hennah', 'hennah')]
[(1, 'Hafeez', 'hafeez'), (2, 'Peter', 'peter'), (3, 'Amy', 'amy'), (4, 'Michael', 'michael'), (5, 'Hennah', 'hennah')]
[(1, 'Hafeez', 'hafeez'), (2, 'Peter', 'peter'), (3, 'Amy', 'amy'), (4, 'Michael', 'michael'), (5, 'Hennah', 'hennah')]
[(1, 'Hafeez', 'hafeez'), (2, 'Peter', 'peter'), (3, 'Amy', 'amy'), (4, 'Michael', 'michael'), (5, 'Hennah', 'hennah')]
[(1, 'Hafeez', 'hafeez'), (2, 'Peter', 'peter'), (3, 'Amy', 'amy'), (4, 'Michael', 'michael'), (5, 'Hennah', 'hennah')]

In [33]:
cursor = db.cursor()
## defining the Query
query = "SELECT user_name FROM users"
## getting 'user_name' column from the table
cursor.execute(query)

## fetching all usernames from the 'cursor' object
usernames = cursor.fetchall()
## Showing the data
for username in usernames:
    print(username)

('hafeez',)
('peter',)
('amy',)
('michael',)
('hennah',)

In [34]:
cursor = db.cursor()
## defining the Query
query = "SELECT name, user_name FROM users"

## getting 'name', 'user_name' columns from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
data = cursor.fetchall()
## Showing the data
for pair in data:
    print(pair)

('Hafeez', 'hafeez')
('Peter', 'peter')
('Amy', 'amy')
('Michael', 'michael')
('Hennah', 'hennah')

#whERE

In [35]:
Cursor = db.cursor()
## defining the Query
query = "SELECT * FROM users WHERE id = 5"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(5, 'Hennah', 'hennah')

#Order by Ascending